.head {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background: url("../images/hlegal-symbol.svg") no-repeat center/auto 100%;
  @media screen and (min-width: $breakpoint-md) {
    background-size: cover;
  }
  @media screen and (min-width: $breakpoint-lg) {
    background-size: auto 100%;
  }

  &__title {
    @include title($basic-white);
    @include flex-center;
    text-align: center;
  }

  &__link {
    width: 42px;
    height: 42px;
    border: 1px solid $basic-white;
    border-radius: $radius-rounded;
    position: relative;
    margin: 0 auto 30px;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 13px;
      width: 14px;
      height: 14px;
      border-bottom: 2px solid $basic-white;
      border-left: 2px solid $basic-white;
      transform: rotate(-45deg);
    }
  }
}
.head__link:hover {
  color: $accent-color;
}
.service__head {
  background: none;
  min-height: 100px;
}

.header {
  padding-bottom: 10px;
  @media screen and (min-width: $breakpoint-md) {
    padding: 50px 0 10px;
  }

  &__container {
    @media screen and (min-width: $breakpoint-lg) {
      position: relative;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 10px 30px;
    background: rgba($bg-color, 0.2);
    margin: 0 -30px 15px;

    @media screen and (min-width: $breakpoint-md) {
      margin: 0 0 30px;
      padding: 0;
      background: transparent;
      justify-content: flex-start;
      gap: 18px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
      margin-bottom: 15px;
    }
  }
  &__langs {
    display: flex;
  }

  &__langs-link {
    color: $basic-white;
    text-decoration: none;
    font-size: 12px;
    padding: 5px 7px;
    display: block;
    border-radius: $radius-sm;
    text-transform: uppercase;

    &.active {
      background: $accent-color;
    }
  }

  &__address {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      color: $separator-color;
      font-weight: 400;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: $basic-white;
        border-radius: $radius-rounded;
      }
      &::after {
        left: auto;
        right: -12px;
      }
    }
  }
  &__phone {
    color: $basic-white;
    text-decoration: none;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: -12px;
        transform: translateY(-50%);
        width: 6px;
        height: 6px;
        background: $basic-white;
        border-radius: $radius-rounded;
        pointer-events: none;
      }
    }
  }
  &__social {
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
      color: $basic-white;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 30px;
      margin-bottom: 0;
    }
  }

  &__box-logo {
    color: $basic-white;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 25px;

    @media screen and (min-width: $breakpoint-lg) {
      background: none;
    }

    img {
      @media screen and (min-width: $breakpoint-md) {
        width: auto;
        height: 57px;
      }
      @media screen and (min-width: $breakpoint-lg) {
        width: auto;
        height: 60px;
      }
    }
  }

  &__box-burger {
    width: 24px;
    height: 18px;
    cursor: pointer;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after,
    span {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: $basic-white;
    }
    &::after {
      top: auto;
      bottom: 0;
    }
    span {
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__nav {
    position: fixed;
    bottom: -100%;
    left: 8px;
    right: 8px;
    background: $basic-white;
    border-radius: $radius-md $radius-md 0 0;
    padding: 12px;
    transition: bottom 0.2s linear;
    &.active {
      bottom: 0;
    }
    @media screen and (min-width: $breakpoint-md) {
      position: static;
      background: transparent;
      padding: 0;
      border-radius: 0;
    }
  }

  &__nav-close {
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin: 0 0 20px auto;
    position: relative;
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      height: 2px;
      background: $accent-color;
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }

  &__nav-list {
    @media screen and (min-width: $breakpoint-md) {
      display: flex;
      gap: 15px;
    }
    @media screen and (min-width: $breakpoint-lg) {
      justify-content: flex-end;
    }
  }

  &__nav-item {
    text-align: center;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    @media screen and (min-width: $breakpoint-md) {
      margin-bottom: 0;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    color: $regular-color;
    border-radius: $radius-md;
    background: $bg-color;
    padding: 7px;
    display: block;
    @media screen and (min-width: $breakpoint-md) {
      border-radius: 0;
      background: none;
      color: $basic-white;
      font-size: 16px;
      padding: 0;
    }

    &.active {
      color: $accent-color;
      @media screen and (min-width: $breakpoint-md) {
        color: $active-color;
      }
    }

    &:hover {
      background: $bg-alt-color;
      @media screen and (min-width: $breakpoint-md) {
        background: none;
      }
    }
    &:active {
      background: $separator-color;
      @media screen and (min-width: $breakpoint-md) {
        background: none;
      }
    }
  }

  &__social {
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.about {
  &__head {
    background: none;
    min-height: 100px;
  }
  &__nav {
    .about__link {
      color: $regular-color;
    }
  }
}
.header {
  &__about-inner {
    background: $bg-color;
  }
  &__langs-link-about {
    color: $text-color;
  }
  .about-header__address {
    @media screen and (max-width: $breakpoint-md) {
      display: none;
    }
    font-weight: 400;
    color: $separator-color;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 5px;
      left: -12px;
      background: $separator-color;
      border-radius: 50%;
      width: 6px;
      height: 6px;
    }
    &::after {
      position: absolute;
      content: "";
      top: 5px;
      right: -12px;
      background: $separator-color;
      border-radius: 50%;
      width: 6px;
      height: 6px;
    }
  }
  &__phone-about {
    color: $text-color;
  }
  &__box-about {
    .about__burger {
      &::before,
      &::after,
      span {
        background: $main-color;
      }
    }
  }
}
