.publications {
  background: $bg-color;
  margin-top: 60px;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  &__more {
    @include subtextlast($basic-white);
    padding: 16px 30px;
    margin-bottom: 60px;
    border-radius: $radius-md;
    background: $regular-color;
    box-shadow: 0px 0px 20px 0px rgba(36, 163, 255, 0.5);
  }
}
.publication {
  &__lable {
    @media screen and (min-width: $breakpoint-lg) {
      flex: 1 1 30%;
    }
  }
}
.switch input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.switch label {
  display: flex;
  position: relative;
  width: 230px;
  height: 36px;
  background: $separator-color;
  border-radius: $radius-md;
  cursor: pointer;
  color: $main-color;
}
.switch label span {
  display: flex;
  flex: 1 1 50%;
  align-items: center;
  justify-content: center;
  z-index: 0;
  @include subtextlast($main-color);
}
.switch label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  height: 30px;
  cursor: pointer;
  border-radius: $radius-md;
  background-color: #fff;
  transition: 0.5s linear;
}
.switch input:checked + label::before {
  left: calc(50% - 2px);
}
