
.tabs{
	padding-bottom: 30px;
}
.scroll__section{
position: relative;
@media screen and (min-width: $breakpoint-lg){
	display: flex;
	gap: 120px;
}
}
.scroll__container{
cursor:pointer;
@media screen and (min-width: $breakpoint-xl){
	flex: none;
	&::before{
		content: '';
		position: absolute;
		top: 120px;
		left: 300px;
		background-color: rgba(255, 255, 255, 0.30);
		width: 280px;
		height: 4px;
		transform: rotate(90deg);
	}
}
	@media screen and (min-width: $breakpoint-lg){
		margin: 0 auto;
		align-items: end;
		justify-content: space-between;
		flex-direction: column;
		flex: 1 1 50%;
		
		&::before{
			content: '';
			position: absolute;
			top: 130px;
			left: 310px;
			background-color: rgba(255, 255, 255, 0.30);
			width: 280px;
			height: 4px;
			transform: rotate(90deg);
			   
		}
	}

	@media screen and (min-width: $breakpoint-md){
		margin: 60px 0 90px 0;
		padding: 0;
		
		&::before{
			content: '';
			position: absolute;
			top: 90px;
			left: 0;
			background-color: rgba(255, 255, 255, 0.30);
			width: 100%;
			height: 4px;  
		}
	}
	@media screen and (min-width: $breakpoint-xs){
	   
		&::before{
			content: '';
			position: absolute;
			top: 80px;
			left: 0;
			background-color: rgba(255, 255, 255, 0.30);
			width: 100%;
			height: 4px;
		}
	}    
}
.text__titlecontent{
	@include titletext($basic-white);
	font-size: 20px;
	margin-bottom: 30px;
}
.text__titlecontent{
	@media screen and (min-width: $breakpoint-lg){
		@include subtitlemd($basic-white);
	}
}
.text__content{
	@media screen and (min-width: $breakpoint-lg){
		flex: 1 1 50%;
	}
	
}
.text__content{
	@media screen and (min-width: $breakpoint-xl){
	padding: 30px 0;
	}
}
.content__text{
	@include subtext($basic-white)}

.conteiner__section{
	position: relative;
	
	@media screen and (min-width: $breakpoint-lg) {
		display: flex;
		padding: 60px 0;
		
	} 
	@media screen and (min-width: $breakpoint-xl) {
		display: flex;
		justify-content: center;
		margin: 0 120px;
	}
	
	
}
.scroll__container{
	display: flex;
	gap: 30px;
	white-space: nowrap;
	padding: 30px 30px 60px 0;
	margin-right: -30px;
	overflow: auto;
	&::-webkit-scrollbar{
		width: 0;
	}

}

.links__scroll{ 
	@include subtitle($text-color);
	line-height: normal;
	@media screen and (min-width: $breakpoint-lg){
		@include title($text-color);
		line-height: normal;
	}
	&.active {
		@include main-gradient-text($gradient-red-text);
	}
	&:hover {
		color: $accent-color;
	}
	
}
.tabs__contents-item{
		display: none;
		&.active {
		display: block;
	}
	}
